html
  head
    title CS 2340 Summer 2014
    script(src="cs2340.json")
    link(rel='stylesheet', href='syllabus.css') 
  body

    table.schedule

      // Week ------------------------------------------------
      tr.week-header
        td(colspan=4) Week 1
      tr
        td 2014-05-12
        td= intro.slides
        td= intro.reading
        td= intro.code
      tr
        td 2014-05-14
        td=
        td= 
        td= 
     
      // Week ------------------------------------------------
      tr.week-header
        td(colspan=4) Week 1
      tr
        td 
        td=
        td=
        td=
      tr
        td 
        td=
        td= 
        td= 
